<a href="https://colab.research.google.com/github/Basgoodboy/New-folder--2-/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE Students (
    student_id INTEGER PRIMARY KEY,
    name TEXT
)
""")
cursor.execute("""
CREATE TABLE Courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT,
    price INTEGER
)
""")
cursor.execute("""
CREATE TABLE Enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY(student_id) REFERENCES Students(student_id),
    FOREIGN KEY(course_id) REFERENCES Courses(course_id)
)
""")
cursor.execute("""
CREATE TABLE Payments (
    payment_id INTEGER PRIMARY KEY,
    enrollment_id INTEGER,
    amount_paid INTEGER,
    FOREIGN KEY(enrollment_id) REFERENCES Enrollments(enrollment_id)
)
""")

students = [
    (1, 'Ram'),
    (2, 'Bas'),
    (3, 'Sweetie')
]

courses = [
    (1, 'Python Basics', 100),
    (2, 'Data Science', 200),
    (3, 'Web Development', 150)
]

enrollments = [
    (1, 1, 1),
    (2, 1, 2),
    (3, 2, 1),
    (4, 2, 3),
    (5, 3, 2),
    (6, 3, 3),
    (7, 1, 3),
    (8, 2, 2),
    (9, 3, 1),
    (10, 1, 2)
]

payments = [
    (1, 1, 100),
    (2, 2, 200),
    (3, 3, 100),
    (4, 4, 150),
    (5, 5, 200),
    (6, 6, 150),
    (7, 7, 150),
    (8, 8, 200),
    (9, 9, 100),
    (10, 10, 200)
]

cursor.executemany("INSERT INTO Students VALUES (?, ?)", students)
cursor.executemany("INSERT INTO Courses VALUES (?, ?, ?)", courses)
cursor.executemany("INSERT INTO Enrollments VALUES (?, ?, ?)", enrollments)
cursor.executemany("INSERT INTO Payments VALUES (?, ?, ?)", payments)
conn.commit()

print("Courses enrolled by Bas:")
query1 = """
SELECT s.name, c.course_name
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Courses c ON e.course_id = c.course_id
WHERE s.student_id = 1
"""
df1 = pd.read_sql_query(query1, conn)
print(df1)

print("\nTotal revenue per course:")
query2 = """
SELECT c.course_name, SUM(p.amount_paid) as total_revenue
FROM Payments p
JOIN Enrollments e ON p.enrollment_id = e.enrollment_id
JOIN Courses c ON e.course_id = c.course_id
GROUP BY c.course_id
"""
df2 = pd.read_sql_query(query2, conn)
print(df2)

conn.close()

Courses enrolled by Bas:
  name      course_name
0  Ram    Python Basics
1  Ram     Data Science
2  Ram  Web Development
3  Ram     Data Science

Total revenue per course:
       course_name  total_revenue
0    Python Basics            300
1     Data Science            800
2  Web Development            450